{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "node": true,
    "es6":true
  },
  "globals": {
    "Promise": true
  },
  "parser": "@babel/eslint-parser"
 }
